<!-- Classes: 
	svy-sidenav
	svy-sidenav-menu
		svy-sidenav-dropdown
		svy-sidenav-item
			svy-sidenav-item-icon
			svy-sidenav-item-text
		svy-sidenav-divider
	svy-sidenav-menu2
	svy-sidenav-menu3
	svy-sidenav-menu4

	svy-slide-out				the menu is slide out
	svy-navitem-selected 		the active sub nav item
	svy-sidenav-collapsed 		the open sub nav item
	svy-sidenav-disabled		the item disabled

	svy-sidenav-action-open

	nav-slide-menu
	nav-collapse-menu
	nav-side-toggle
	nav-hide-toggle
-->
<div class="svy-extra-sidenav" 
	ng-show="model.visible"
	svy-attributes='model.attributes'>
	<div class="svy-sidenav">
		<div class="svy-sidenav-header">
			<!--<input ng-model="searchText" class="svy-searchbox"></input>-->
			<i ng-click="slideMenu($event)" class="svy-sidenav-action-open"></i>
		</div>
		<nav id={{::model.svyMarkupId}} class="svy-sidenav-content">		
			<!-- The main menu -->
			<ul class="svy-sidenav-menu sn-level-1 svy-sidenav-collapsed" dir="ltr">

				<!-- Main list -->
				<li ng-repeat="item in model.menu | filter:{text: searchText}"
 					class="svy-sidenav-dropdown sn-level-1"
					ng-class="(item.id != null && selectedIndex[1] == item.id ? 'svy-navitem-selected' : '') + (item.enabled == false ? ' svy-navitem-disabled' : '')"
					svy-tooltip="item.tooltip"
					>

					<!-- Main Menu Items -->
					<a ng-if="!item.isDivider" class="svy-sidenav-item sn-level-1" ng-class="item.styleClass" ng-href="" ng-click="selectItem(1, $index, item, $event)">
						<i class="svy-sidenav-item-icon" ng-class="item.iconStyleClass"></i>
						<span class="svy-sidenav-item-text">{{item.text}}</span>
						<i class="svy-sidenav-collapse-icon sn-level-1 pull-right" ng-class="item.menuItems ? (expandedIndex[1] == item.id ? '' + model.iconCollapseStyleClass : '' + model.iconExpandStyleClass) : 'hidden'"
							ng-click="toggleExpandedItem(1, $index, item, $event)"></i>
					</a>
			
					<!-- Second List -->
					<ul class="svy-sidenav-menu sn-level-2" 
						ng-class="expandedIndex[1] == item.id ? 'svy-sidenav-collapsed' : ''"
						ng-if="expandedIndex[1] == item.id"
						>
						<li ng-repeat="item2 in item.menuItems"
 							class="svy-sidenav-dropdown sn-level-2" 
							ng-class="(item2.id != null && selectedIndex[2] == item2.id ? 'svy-navitem-selected' : '') + (item.enabled == false || item2.enabled == false ? ' svy-navitem-disabled' : '')"
							svy-tooltip="item2.tooltip"
							>
							<!-- Second Menu Items -->
							<a ng-if="!item2.isDivider" class="svy-sidenav-item sn-level-2" ng-class="item2.styleClass" ng-href="" ng-click="selectItem(2, $index, item2, $event)">
								<i class="svy-sidenav-item-icon" ng-class="item2.iconStyleClass"></i>
								<span class="svy-sidenav-item-text">{{item2.text}}</span>
								<i class="svy-sidenav-collapse-icon sn-level-2 pull-right" ng-class="item2.menuItems ? (expandedIndex[2] == item2.id ? '' + model.iconCollapseStyleClass : '' + model.iconExpandStyleClass) : 'hidden'"
									ng-click="toggleExpandedItem(2, $index, item2, $event)"></i>
							</a>

							<!-- Third List -->
							<ul class="svy-sidenav-menu sn-level-3" ng-class="expandedIndex[2] == item2.id ? 'svy-sidenav-collapsed' : ''"
								ng-if="expandedIndex[2] == item2.id"
								>
								<li ng-repeat="item3 in item2.menuItems"
 									class="svy-sidenav-dropdown sn-level-3" 
									ng-class="(item3.id != null && selectedIndex[3] == item3.id ? 'svy-navitem-selected' : '') + (item.enabled == false || item2.enabled == false || item3.enabled == false ? ' svy-navitem-disabled' : '')"
									svy-tooltip="item3.tooltip"
									>
									<!-- Third Menu Items -->
									<a ng-if="!item3.isDivider" class="svy-sidenav-item sn-level-3" ng-class="item3.styleClass" ng-href="" ng-click="selectItem(3, $index, item3, $event)">
										<i class="svy-sidenav-item-icon" ng-class="item3.iconStyleClass"></i>
										<span class="svy-sidenav-item-text">{{item3.text}}</span>
										<i class="svy-sidenav-collapse-icon sn-level-3 pull-right" ng-class="item3.menuItems ? (expandedIndex[3] == item3.id ? '' + model.iconCollapseStyleClass : '' + model.iconExpandStyleClass) : 'hidden'"
											ng-click="toggleExpandedItem(3, $index, item3, $event)"></i>
									</a>
		
									<!-- Fourth List -->
									<ul class="svy-sidenav-menu sn-level-4" ng-class="expandedIndex[3] == item3.id ? 'svy-sidenav-collapsed' : ''"
										ng-if="expandedIndex[3] == item3.id"
										>
										<li ng-repeat="item4 in item3.menuItems"
											class="svy-sidenav-dropdown sn-level-4" 
											ng-class="(item4.id != null && selectedIndex[4] == item4.id ? 'svy-navitem-selected' : '') + (item.enabled == false || item2.enabled == false || item3.enabled == false || item4.enabled == false ? ' svy-navitem-disabled' : '')"
											svy-tooltip="item4.tooltip"
											>
											<!-- Fourth Menu Items -->
											<a ng-if="!item4.isDivider" class="svy-sidenav-item sn-level-4" ng-class="item4.styleClass" ng-href="" ng-click="selectItem(4, $index, item4, $event)">
												<i class="svy-sidenav-item-icon" ng-class="item4.iconStyleClass"></i>
												<span class="svy-sidenav-item-text">{{item4.text}}</span>
											</a>
											<div ng-if="item4.isDivider" class="svy-sidenav-divider sn-level-4" ng-class="item4.styleClass"> 
											</div>	
										</li>
									</ul><!-- #fourth list -->
									<div ng-if="item3.isDivider" class="svy-sidenav-divider sn-level-3" ng-class="item3.styleClass"/> 									
								</li>
							</ul><!-- #third list -->
							<div ng-if="item2.isDivider" class="svy-sidenav-divider sn-level-2" ng-class="item2.styleClass"/> 
							
						</li>
					</ul><!-- #sub list -->
					<div ng-if="item.isDivider" class="svy-sidenav-divider sn-level-1" ng-class="item.styleClass"/>	
					
				</li>	
			</ul><!-- #main list -->
		</nav> 
	</div>
	<!--<div class="svy-ghost"></div>-->
	<!-- #sidebar -->
	<div class="svy-sidenav-tablesspanel"
		 ng-if="model.containedForm"
			 ng-style="getContainerStyle()"
			 ng-include="getActiveTabUrl()" 
			 sablo-tabseq='model.tabSeq' sablo-tabseq-config="{container: true, reservedGap: 50}">
	</div>
</div>