<!-- Classes: 
	svy-sidenav
	svy-sidenav-menu
		svy-sidenav-dropdown
		svy-sidenav-item
		svy-sidenav-divider
	svy-sidenav-menu2
	svy-sidenav-menu3
	svy-sidenav-menu4

	svy-slide-out				the menu is slide out
	svy-navitem-selected 		the active sub nav item
	svy-sidenav-collapsed 		the open sub nav item
	svy-sidenav-disabled		the item disabled
	
	TODO
		sort on Text enable/disable
		search is complicated (should search in child nodes)

				collapse node if disabled
					<ul class="svy-sidenav-menu2" 
						ng-class="selectedIndex[1] == $index && !(item.enabled==false) ? 'svy-sidenav-collapsed' : ''"
						ng-if="selectedIndex[1] == $index"
						>

-->
	<div class="svy-sidenav">
		<div class="svy-sidenav-header">
			<i ng-click="slideMenu()" class="svy-action-slide {{::model.iconOpenStyleClass}}"></i>
		</div>
		<nav id={{::model.svyMarkupId}} class="svy-sidenav-content" ng-show="model.visible">		
			<input ng-model="searchText" class="svy-searchbox"></input>
			<!-- The main menu -->
			<ul class="svy-sidenav-menu svy-sidenav-collapsed">

				<!-- Main list -->
				<li ng-repeat="item in model.menu | filter:{text: searchText}"
 					class="svy-sidenav-dropdown"
					ng-class="(selectedIndex[1] == item.id ? 'svy-navitem-selected' : '') + (item.enabled == false ? ' svy-navitem-disabled' : '')"
					>

					<!-- Main Menu Items -->
					<a ng-if="!item.isDivider" class="svy-sidenav-item" ng-class="item.styleClass" ng-href="" ng-click="selectItem(1, $index, item, $event)">
						<i ng-class="item.iconStyleClass"></i>
						{{item.text}}
						<i class="svy-sidenav-collapse-icon pull-right" ng-class="item.menuItems ? (expandedIndex[1] == item.id ? '' + model.iconCollapseStyleClass : '' + model.iconExpandStyleClass) : ''"
							ng-click="toggleExpandedItem(1, $index, item, $event)"
							/>
					</a>
			
					<!-- Second List -->
					<ul class="svy-sidenav-menu2" 
						ng-class="expandedIndex[1] == item.id ? 'svy-sidenav-collapsed' : ''"
						ng-if="expandedIndex[1] == item.id"
						>
						<li ng-repeat="item2 in item.menuItems"
 							class="svy-sidenav-dropdown" 
							ng-class="(selectedIndex[2] == item2.id ? 'svy-navitem-selected' : '') + (item.enabled == false || item2.enabled == false ? ' svy-navitem-disabled' : '')"
							>
							<!-- Second Menu Items -->
							<a ng-if="!item2.isDivider" class="svy-sidenav-item" ng-class="item2.styleClass" ng-href="" ng-click="selectItem(2, $index, item2, $event)">
								<i ng-class="item2.iconStyleClass"></i>
								{{item2.text}}
								<i class="svy-sidenav-collapse-icon pull-right" ng-class="item2.menuItems ? (expandedIndex[2] == item2.id ? '' + model.iconCollapseStyleClass : '' + model.iconExpandStyleClass) : ''"
									ng-click="toggleExpandedItem(2, $index, item2, $event)"
									/>
							</a>

							<!-- Third List -->
							<ul class="svy-sidenav-menu3" ng-class="expandedIndex[2] == item2.id ? 'svy-sidenav-collapsed' : ''"
								ng-if="expandedIndex[2] == item2.id"
								>
								<li ng-repeat="item3 in item2.menuItems"
 									class="svy-sidenav-dropdown" 
									ng-class="(selectedIndex[3] == item3.id ? 'svy-navitem-selected' : '') + (item.enabled == false || item2.enabled == false || item3.enabled == false ? ' svy-navitem-disabled' : '')"
									>
									<!-- Third Menu Items -->
									<a ng-if="!item3.isDivider" class="svy-sidenav-item" ng-class="item3.styleClass" ng-href="" ng-click="selectItem(3, $index, item3, $event)">
										<i ng-class="item3.iconStyleClass"></i>
										{{item3.text}}
										<i class="svy-sidenav-collapse-icon pull-right" ng-class="item3.menuItems ? (expandedIndex[3] == item3.id ? '' + model.iconCollapseStyleClass : '' + model.iconExpandStyleClass) : ''"
											ng-click="toggleExpandedItem(3, $index, item3, $event)"
											/>
									</a>
		
									<!-- Fourth List -->
									<ul class="svy-sidenav-menu4" ng-class="expandedIndex[3] == item3.id ? 'svy-sidenav-collapsed' : ''"
										ng-if="expandedIndex[3] == item3.id"
										>
										<li ng-repeat="item4 in item3.menuItems"
											class="svy-sidenav-dropdown" 
											ng-class="(selectedIndex[4] == item4.id ? 'svy-navitem-selected' : '') + (item.enabled == false || item2.enabled == false || item3.enabled == false || item4.enabled == false ? ' svy-navitem-disabled' : '')"
											>
											<!-- Second Menu Items -->
											<a ng-if="!item4.isDivider" class="svy-sidenav-item" ng-class="item4.styleClass" ng-href="" ng-click="selectItem(4, $index, item4, $event)">
												<i ng-class="item4.iconStyleClass"></i>
												{{item4.text}}
											</a>
											<div ng-if="item4.isDivider" class="svy-sidenav-divider" ng-class="item4.styleClass"> 
											</div>	
										</li>
									</ul><!-- #fourth list -->
									<div ng-if="item3.isDivider" class="svy-sidenav-divider" ng-class="item3.styleClass"/> 									
								</li>
							</ul><!-- #third list -->
							<div ng-if="item2.isDivider" class="svy-sidenav-divider" ng-class="item2.styleClass"/> 
							
						</li>
					</ul><!-- #sub list -->
					<div ng-if="item.isDivider" class="svy-sidenav-divider" ng-class="item.styleClass"/>	
					
				</li>	
			</ul><!-- #main list -->
		</nav> 
	</div>
<!-- #sidebar -->