/* Drilldown to second menu items */

.svy-sidenav {
	height: 100%;
	z-index: 999;
	position: relative;
	overflow: hidden;
	border: 1px solid #e6e6e6;
}

.svy-sidenav-header,
.svy-sidenav-content {
	border-color: inherit;
}

.svy-sidenav,
.svy-sidenav-content,
.svy-sidenav-header {
	width: 100%;
    transition: transform cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	overflow: hidden;
	position: relative;
}

.svy-sidenav :focus {
	outline: none;
}

/* All Sub Menu */
[class^="svy-sidenav-menu"] {
	display: none;
	color : #444;
}

[class^="svy-sidenav-menu"].svy-sidenav-collapsed {
	display: block;
}

/* Default */
.svy-sidenav-menu {
	font-size: 18px;
	line-height: 18px;
	padding-left: 0px;
}

.svy-sidenav-menu2 {
	font-size: 16px;
	line-height: 16px;
}

/* Style */
.svy-sidenav-item {
	display: block;
	color: inherit;
	padding: 10px 15px;
	cursor: pointer;
	margin-right: 20px;
}

.svy-sidenav-item:focus,
.svy-sidenav-item:hover {
	text-decoration: none;
	color: inherit;
}

.svy-sidenav li {
	list-style-type: none;
	position: relative;
}

.svy-sidenav-main a {
	color: #777;
}

/* .svy-sidenav-main a:hover, a:focus {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
} */

/* Color border of list */
.svy-sidenav-main {
	border-color: #e6e6e6;
}

.svy-searchbox {
	display: none;
}

/* Active main list item */
.svy-navitem-selected {
	color: green;
}

.svy-sidenav-menu > .svy-navitem-selected {
	border-left: 3px solid #41b495;
}

.svy-sidenav-divider {
	width: 100%;
	border-top: 1px solid #000;
}

.svy-sidenav-collapse-icon {
	padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
/* 	margin-right: -10px;
	margin-top: -10px; */
}

/* Disabled */
.svy-sidenav-disabled {
	
}

.svy-sidenav-disabled [class^="svy-sidenav-menu"],
.svy-navitem-disabled {
	background: #eee;
	color: #777;
}

.svy-sidenav-disabled .svy-sidenav-item,
.svy-navitem-disabled .svy-sidenav-item {
	cursor: default;
}

/*******************************************
 * Animate 
 *
 *******************************************/

/* Animate nav */
.svy-slide-out {
	overflow: visible;
	border-width: 0px; /* reset the border of svy-sidenav */
}

.svy-slide-out.svy-slide-out-add,
.svy-slide-out.svy-slide-out-remove {
	border-width: 1px;
}

.svy-slide-out .svy-sidenav-header {
	overflow: visible;
}

.svy-slide-out .svy-sidenav-content {
	display: none;
}

.svy-slide-out.svy-sidenav-left {
	transform: translatex(-100%);
	border-right-width: 0;
}

.svy-slide-out.svy-sidenav-right {
	transform: translatex(100%);
	border-left-width: 0;
}

.svy-slide-out.svy-sidenav-left .svy-sidenav-content {
	border: inherit;
	border-width: 0 1px 0 0;
}

.svy-slide-out.svy-sidenav-right .svy-sidenav-content {
	border: inherit;
	border-width: 0 0 0 1px;
}

.svy-slide-out.svy-slide-out-add .svy-sidenav-content,
.svy-slide-out.svy-slide-out-remove .svy-sidenav-content {
	display: block;
}

/* Nav header */
.svy-action-slide {
	float: left;
	padding: 10px;
	transition: inherit;
}

.svy-sidenav-left .svy-action-slide {
	float: right;
}

.svy-sidenav-static .svy-action-slide {
	display: block;
}

/* Animate nav header */
.svy-slide-out .svy-action-slide  {
	border: inherit;
	border-style: solid;
	border-width: 1px;
}

.svy-slide-out.svy-sidenav-left .svy-action-slide {
	transform: translatex(100%);
	border-left-width: 0;
}

.svy-slide-out.svy-sidenav-right .svy-action-slide {
	transform: translatex(-100%);
	border-right-width: 0;
}

/* Animate collapsible menu items */
[class^="svy-sidenav-menu"].ng-enter, 
[class^="svy-sidenav-menu"].ng-leave {
  	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s;
}

[class^="svy-sidenav-menu"].ng-enter,
[class^="svy-sidenav-menu"].ng-leave.ng-leave-active {
  	max-height: 0px;
  	overflow: hidden;
}

[class^="svy-sidenav-menu"].ng-leave,
[class^="svy-sidenav-menu"].ng-enter.ng-enter-active {
 	max-height: 200px;
 	overflow: hidden;
}