  .svy-extra-timeline {
    height:100%;
    width:100%;
    position: relative;
  }
  .feed-item {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 22px;
    padding-left: 40px;
    margin-left: 20px;
    border-left: 2px solid #DDD;
  }
  .feed-item:last-child {
    padding-bottom: 15px;
  }
  .feed-item .feed-subject a {
    font-weight: 600;
  }
  .feed-item .feed-actions {
    border-top: 1px dotted #ccc;
  }
  .feed-item .feed-actions:before,
  .feed-item .feed-actions:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .feed-item .feed-actions:after {
    clear: both;
  }
  .feed-item .feed-actions a {
    color: #999;
    font-size: 13px;
  }
  .feed-item .feed-actions a:hover {
    text-decoration: none;
    color: #e5412d;
  }
  .feed-item .feed-actions .pull-left {
    margin: 0 15px 0 0;
  }
  .feed-item .feed-actions .pull-right {
    margin: 0 0 0 15px;
  }
  .feed-item .feed-icon {
    position: absolute;
    top: 15px;
    left: -23px;
    width: 40px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    background-color: #f0ad4e;
    border: 3px solid #FFF;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  }