<div class="svy-extra-fileupload container" 
	[ngClass]="styleClass" 
	[svyTooltip]="toolTipText"  
	#element>
    <div ng2FileDrop
        [ngClass]="{'svy-fu-dragover': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
    	[uploader]="uploader" 
    	(onFileDrop) = "uploader.uploadAll()"
        class="well svy-fu-drop-box">
        	
        	<i class="svy-fu-row {{uploader.progress > 0 ? [successIconStyleClass] : [iconStyleClass] }} custom-file-upload" (click)= "fileInputClick()"> </i>
        	
        	<label #fileInputLabel class="custom-file-upload" >  {{customText}}
            	<div *ngIf="multiFileUpload; else elseBlock">
					<input type="file" ng2FileSelect [uploader]="uploader" multiple (onFileSelected) = "uploader.uploadAll()" [accept]="acceptFiles" [disabled]="!enabled"/>
				</div>
				<ng-template #elseBlock>
	            	<input #fileInputSingleUpload type="file" ng2FileSelect [uploader]="uploader" (onFileSelected) = "uploader.uploadAll()" [accept]="acceptFiles" [disabled]="!enabled"/>
				</ng-template>
			</label>
            
            <div class="svy-fu-row" *ngIf="uploader.progress > 0" >
    	         <div class="svy-fu-progress-bar" role="progressbar" aria-valuenow="uploader.progress" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': uploader.progress + '%' }">
    	         	{{uploader.progress}}%
    	         </div>
        	</div>
	</div>
</div>