@import "table/table.css";
@import "table/mobileview.css";
@import "sidenav/svy-sidenav.css";
@import '@ali-hm/angular-tree-component/css/angular-tree-component.css';
@import "treeview/treeview.css";
@import "select2tokenizer/select2tokenizer.css";
@import "collapse/collapse.css";
@import "@servoy/ngx-lightbox/lightbox.css";
@import "@uppy/core/css/style.css";
@import "@uppy/dashboard/css/style.css";
@import "@uppy/screen-capture/css/style.css";
@import "@uppy/webcam/css/style.css";
@import "@angular/cdk/overlay-prebuilt.css";

.svy-wrapper > * > .svy-slider-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.table td, .table th {
     padding: 8px;
 }
 
 .svy-wrapper > * > .svy-extra-multifileupload {
    overflow: auto;
    width: 100%;
    height: 100%;
}

servoyextra-spinner {
	position: relative;
}

.svy-layoutcontainer > servoyextra-spinner .svy-extra-spinner {
    height: 0px;
    min-height: 30px;
}