<div [id]="servoyApi.getMarkupId()" #element class="svy-gauge" style="width:100%;height:100%;overflow:hidden">
  @if (gaugeType()=='radial') {
    <radial-gauge width="200" height="100" [options]="canvasGaugeOptions()" [value]="value()" (onGaugeReady)="onGaugeReady($event)" class="gauge"></radial-gauge>
  }
  @if (gaugeType()=='linear') {
    <linear-gauge width="200" height="100" [options]="canvasGaugeOptions()" [value]="value()" (onGaugeReady)="onGaugeReady($event)" class="gauge"></linear-gauge>
  }
</div>
