<div #element class="svy-extra-sidenav">
  <div class="svy-sidenav"
    [dir] = "scrollbarPosition == 'rtl' ? 'rtl' : null"
        [ngClass]="{'svy-sidenav-right': slidePosition == 'right', 'svy-sidenav-static': slidePosition == 'static' , 'svy-sidenav-left': slidePosition == 'left', 
        'nav-slide-menu': slideAnimation == 'slide-menu', 'nav-collapse-menu': slideAnimation == 'collapse-menu' || slideAnimation == 'collapse-menu-nohover',
        'nav-side-toggle': togglePosition == 'side-toggle', 'nav-fixed-toggle': togglePosition == 'fixed-toggle' , 'nav-hide-toggle': togglePosition == 'hide-toggle' }">
    <div class="svy-sidenav-header">
      <i (click)="slideMenu($event)" class="svy-sidenav-action-open"></i>
    </div>
    <nav [id]="servoyApi.getMarkupId()" class="svy-sidenav-content">
      <!-- The main menu -->
      <ul class="svy-sidenav-menu sn-level-1 svy-sidenav-collapsed" dir="ltr">
        @if (headerForm != null && open) {
          <li>
            @if (isDesignTime()) {
              <div class="svy-navitem-selected">
                <span class="svy-sidenav-item sn-level-1 svy-sidenav-item-text">{{headerForm}}</span>
              </div>
            } @else {
              <div class="svy-container"
                [ngStyle]="getHeaderFormStyle()"
                [sabloTabseq]="tabSeq"
                [sabloTabseqConfig]="{container: true, reservedGap: 50}">
                <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{name:getHeaderForm()}"></ng-template>
              </div>
            }
          </li>
        }
        <!-- Main list -->
        @for (item of menu; track item) {
          <li
            class="svy-sidenav-dropdown sn-level-1"
            [ngClass]="{'svy-navitem-selected': item.id != null && selectedIndex[1] == item.id, 'svy-navitem-disabled': item.enabled === false }">
            <!-- Main Menu Items -->
            @if (!item.isDivider) {
              <a class="svy-sidenav-item sn-level-1" [ngClass]="item.styleClass" (click)="selectItem(1, $index, item, $event)" [svyTooltip]="item.tooltip">
                <i class="svy-sidenav-item-icon" [ngClass]="item.iconStyleClass"></i>
                <span class="svy-sidenav-item-text"> {{item.text}}@if (item.badgeText) {
                  <span [ngClass]="item.badgeStyleClass">{{item.badgeText}}</span>
                }</span>
                <i class="svy-sidenav-collapse-icon sn-level-1 pull-right"
                  [ngClass]="item.menuItems ? (expandedIndex[1] == item.id ? iconCollapseStyleClass : iconExpandStyleClass) : 'hidden'"
                  (click)="toggleExpandedItem(1, $index, item, $event)"
                ></i>
              </a>
            }
            <!-- Second List -->
            @if (expandedIndex[1] == item.id) {
              <ul class="svy-sidenav-menu sn-level-2"
                [ngClass]="{'svy-sidenav-collapsed': expandedIndex[1] == item.id}"
                >
                @for (item2 of item.menuItems; track item2) {
                  <li
                    class="svy-sidenav-dropdown sn-level-2"
                    [ngClass]="{'svy-navitem-selected': item2.id != null && selectedIndex[2] == item2.id, 'svy-navitem-disabled': (item.enabled === false || item2.enabled == false) }">
                    <!-- Second Menu Items -->
                    @if (!item2.isDivider) {
                      <a class="svy-sidenav-item sn-level-2" [ngClass]="item2.styleClass" (click)="selectItem(2, $index, item2, $event)" [svyTooltip]="item2.tooltip">
                        <i class="svy-sidenav-item-icon" [ngClass]="item2.iconStyleClass"></i>
                        <span class="svy-sidenav-item-text"> {{item2.text}}@if (item2.badgeText) {
                          <span [ngClass]="item2.badgeStyleClass">{{item2.badgeText}}</span>
                        }</span>
                        <i class="svy-sidenav-collapse-icon sn-level-2 pull-right"
                          [ngClass]="item2.menuItems ? (expandedIndex[2] == item2.id ? iconCollapseStyleClass : iconExpandStyleClass) : 'hidden'"
                          (click)="toggleExpandedItem(2, $index, item2, $event)"
                        ></i>
                      </a>
                    }
                    <!-- Third List -->
                    @if (expandedIndex[2] == item2.id) {
                      <ul class="svy-sidenav-menu sn-level-3" [ngClass]="{'svy-sidenav-collapsed': expandedIndex[2] == item2.id}"
                        >
                        @for (item3 of item2.menuItems; track item3) {
                          <li
                            class="svy-sidenav-dropdown sn-level-3"
                            [ngClass]="{'svy-navitem-selected': item3.id != null && selectedIndex[3] == item3.id, 'svy-navitem-disabled': (item.enabled === false || item2.enabled == false || item3.enabled == false) }">
                            <!-- Third Menu Items -->
                            @if (!item3.isDivider) {
                              <a class="svy-sidenav-item sn-level-3" [ngClass]="item3.styleClass" (click)="selectItem(3, $index, item3, $event)" [svyTooltip]="item3.tooltip">
                                <i class="svy-sidenav-item-icon" [ngClass]="item3.iconStyleClass"></i>
                                <span class="svy-sidenav-item-text"> {{item3.text}}@if (item3.badgeText) {
                                  <span [ngClass]="item3.badgeStyleClass">{{item3.badgeText}}</span>
                                }</span>
                                <i class="svy-sidenav-collapse-icon sn-level-3 pull-right"
                                  [ngClass]="item3.menuItems ? (expandedIndex[3] == item3.id ? iconCollapseStyleClass : iconExpandStyleClass) : 'hidden'"
                                  (click)="toggleExpandedItem(3, $index, item3, $event)"
                                ></i>
                              </a>
                            }
                            <!-- Fourth List -->
                            @if (expandedIndex[3] == item3.id) {
                              <ul class="svy-sidenav-menu sn-level-4" [ngClass]="{'svy-sidenav-collapsed': expandedIndex[3] == item3.id}"
                                >
                                @for (item4 of item3.menuItems; track item4) {
                                  <li
                                    class="svy-sidenav-dropdown sn-level-4"
                                    [ngClass]="{'svy-navitem-selected': item4.id != null && selectedIndex[4] == item4.id, 'svy-navitem-disabled': (item.enabled === false || item2.enabled == false || item3.enabled == false || item4.enabled == false) }">
                                    <!-- Second Menu Items -->
                                    @if (!item4.isDivider) {
                                      <a class="svy-sidenav-item sn-level-4" [ngClass]="item4.styleClass" (click)="selectItem(4, $index, item4, $event)" [svyTooltip]="item4.tooltip">
                                        <i class="svy-sidenav-item-icon" [ngClass]="item4.iconStyleClass"></i>
                                        <span class="svy-sidenav-item-text"> {{item4.text}}@if (item4.badgeText) {
                                          <span [ngClass]="item4.badgeStyleClass">{{item4.badgeText}}</span>
                                        }</span>
                                      </a>
                                    }
                                    @if (item4.isDivider) {
                                      <div class="svy-sidenav-divider sn-level-4" [ngClass]="item4.styleClass">
                                      </div>
                                    }
                                  </li>
                                }
                              </ul>
                              }<!-- #fourth list -->
                              @if (item3.isDivider) {
                                <div class="svy-sidenav-divider sn-level-3" [ngClass]="item3.styleClass"></div>
                              }
                            </li>
                          }
                        </ul>
                        }<!-- #third list -->
                        @if (item2.isDivider) {
                          <div class="svy-sidenav-divider sn-level-2" [ngClass]="item2.styleClass"></div>
                        }
                      </li>
                    }
                  </ul>
                  }<!-- #sub list -->
                  @if (item.isDivider) {
                    <div class="svy-sidenav-divider sn-level-1" [ngClass]="item.styleClass"></div>
                  }
                </li>
              }
              @if (footerForm != null && open && !stickyBottom()) {
                <li>
                  @if (isDesignTime()) {
                    <div class="svy-navitem-selected">
                      <span class="svy-sidenav-item sn-level-1 svy-sidenav-item-text">{{footerForm}}</span>
                    </div>
                  } @else {
                    <div class="svy-container"
                      [ngStyle]="getFooterFormStyle()"
                      [sabloTabseq]="tabSeq"
                      [sabloTabseqConfig]="{container: true, reservedGap: 50}">
                      <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{name:getFooterForm()}"></ng-template>
                    </div>
                  }
                </li>
              }
            </ul><!-- #main list -->
          </nav>
        </div>

        @if (footerForm != null && open && stickyBottom()) {
          <div id="footerForm" class="svy-sidenav-absoluteFooter">
            @if (isDesignTime()) {
              <div class="svy-navitem-selected">
                <span class="svy-sidenav-item sn-level-1 svy-sidenav-item-text">{{footerForm}}</span>
              </div>
            } @else {
              <div class="svy-container" [ngStyle]="getFooterFormStyle()" [sabloTabseq]="tabSeq"
                [sabloTabseqConfig]="{container: true, reservedGap: 50}">
                <ng-template [ngTemplateOutlet]="templateRef"
                [ngTemplateOutletContext]="{name:getFooterForm()}"></ng-template>
              </div>
            }
          </div>
        }

        @if (isDesignTime()) {
          <div class="svy-navitem-selected">
            <span class="svy-sidenav-item sn-level-1 svy-sidenav-item-text">{{containedForm}}</span>
          </div>
        } @else {
          @if (realContainedForm != null) {
            <div class="svy-sidenav-tablesspanel"
              [ngStyle]="getContainerStyle()"
              [ngClass]="{'svy-sidenav-right': slidePosition == 'right', 'svy-sidenav-static': slidePosition == 'static' , 'svy-sidenav-left': slidePosition == 'left' }"
              [sabloTabseq]="tabSeq"
              [sabloTabseqConfig]="{container: true, reservedGap: 50}">
              <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{name:getForm()}"></ng-template>
            </div>
          }
        }
      </div>
