.svy-treeview {
    height: 100%;
    overflow: auto;
}

.svy-treeview table {
    width: 100%;
}

.svy-treeview .treeLabel {
    margin-left: 2px;
}

.svy-treeview .filteredNode {
    font-weight: bold;
}

.svy-treeview .filterPartNode {
    color: #c0c0c0;
    font-weight: lighter;
}

.svy-treeview img {
	width: 15px;
}

.svy-treeview db-tree-cell div div {
	display: flex;
}

.svy-treeview table tr {
	border-bottom: none;
}

.svy-treeview thead tr th div:empty {
	display: none;
}

.svy-treeview thead > tr > th { 
	position: sticky !important; 
	top: 0 !important;
	background-color: #fff;
	z-index: 10;
}

.svy-treeview span.no-expand-icon {
	width: 0px !important;
}