<div class="svyextra-lightboxgallery" ng-show="model.galleryVisible" svy-attributes='model.attributes'>
	<div class="svyextra-lightboxgallery-image-set" ng-class="model.maxImageHeight ? '' : 'svyextra-lightboxgallery-image-contain'">
		<div ng-repeat="image in images" class="svyextra-lightboxgallery-image-cell">
			<div class="svyextra-lightboxgallery-image-container">
				<a href="{{image.url}}" class="svyextra-lightboxgallery-image" data-lightbox="{{::model.svyMarkupId}}" data-title="{{image.caption}}">
					<img ng-src="{{image.thumbUrl}}" class="svyextra-lightboxgallery-thumbnail" ng-style="getStyle()" ng-click="clickImage()">
				</a>
				<div ng-if="handlers.onHoverButtonClicked && model.enabled" class="svyextra-lightboxgallery-image-delete" svy-click="handlers.onHoverButtonClicked($event, image.imageId)"><i class="{{model.hoverButtonIcon}}"></i></div>
			</div>
			<div ng-if="model.showCaptionInGallery" class="svyextra-lightboxgallery-image-caption" ng-style="getCaptionStyle()">{{image.caption ? image.caption : "&nbsp;"}}</div>
		</div>
	</div>
</div>
<div ng-show="!model.galleryVisible && model.buttonText" svy-attributes='model.attributes'>
	<button 
		class="btn svyextra-lightboxgallery-button {{model.buttonStyleClass}}" 
		ng-click="api.showLightbox()"
		ng-disabled="!images || images.length === 0"
	>
			{{model.buttonText}}
	</button>
</div>