<div class="svyextra-lightboxgallery" ng-show="model.galleryVisible">
	<div class="svyextra-lightboxgallery-image-set">
		<div ng-repeat="image in images" class"svyextra-lightboxgallery-image-cell">
			<a href="{{image.url}}" class="svyextra-lightboxgallery-image" data-lightbox="{{::model.svyMarkupId}}" data-title="{{image.caption}}">
				<img ng-src="{{image.thumbUrl}}" class="svyextra-lightboxgallery-thumbnail" ng-style="getStyle()">
			</a>
		</div>
	</div>
</div>
<div ng-show="!model.galleryVisible && model.buttonText">
	<button class="btn svyextra-lightboxgallery-button {{model.buttonStyleClass}}" ng-click="api.showLightbox()">{{model.buttonText}}</button>
</div>