@import "table/table.css";
@import "sidenav/svy-sidenav.css";
@import '~@circlon/angular-tree-component/src/lib/angular-tree-component.css';
@import "treeview/treeview.css";
@import "~ngx-lightbox/lightbox.css";
@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "~@angular/cdk/overlay-prebuilt.css";

.svy-wrapper > * > .svy-slider-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.svy-wrapper > * > .select2tokenizer_container,
.svy-wrapper > * > .select2tokenizer_container > * > .select2-container,
.svy-wrapper > * > .select2tokenizer_container > * > .select2-container > .selection ,
.svy-wrapper > * > .select2tokenizer_container > * > .select2-container > .selection > .select2-selection {
    width: 100%;
    height: 100%;
}


.table td, .table th {
     padding: 8px;
 }
 
 .svy-wrapper > * > .svy-extra-multifileupload {
    overflow: auto;
    width: 100%;
    height: 100%;
}
