.table-servoyextra-selected {
	background-color: #CCCCFF;
}

.tablewrapper {
	overflow: hidden;
	position: absolute;
	width: 100%;
    height: 100%;
}

.tablewrapper table {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	outline: none;
}

.tablewrapper thead {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

.tablewrapper tbody {
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.tablewrapper ul {
	position: absolute;
	bottom: 0px;
}