<div style="display: inline-block;" ng-if='model.visible && showEditorHint()'>
	  <label>
	  	 <span>Drop table columns from palette</span>
	  </label>
</div>
<div class="tablewrapper" ng-style="getLayoutStyle()" ng-if='model.visible'>
	<table id="table_{{ model.svyMarkupId }}" ng-style="getTableStyle()" class='svy-table' ng-class="model.styleClass" sablo-tabseq='model.tabSeq' ng-keydown="keyPressed($event)" ng-click="tableClicked($event,1)" svy-rightclick="tableRightClick($event)" svy-focusgained="onFocusGained($event)" svy-focuslost="handlers.onFocusLostMethodID($event)">
	   <thead ng-style="getTHeadStyle()">
	  	<tr><th ng-style="getColumnStyle(model.columns.indexOf(column))" ng-class="column.headerStyleClass" ng-repeat="column in model.columns" svy-click="headerClicked($event, model.columns.indexOf(column))"><div ng-bind='column.headerText' class="table-servoyextra-header-label"></div><span ng-class="getSortClass(model.columns.indexOf(column))"></span></th></tr>
	   </thead>
	  <tbody>
	  </tbody>
	</table>
	<ul class="svy-pagination pagination svy-nomargin" ng-if="isPaginationVisible()">
	  <li ng-class="model.currentPage == 1 ? 'disabled' : ''"><a href="#" ng-click="modifyPage(-1)" tabindex="-1">&laquo;</a></li>
	  <li class="disabled"><a href="#" tabindex="-1">{{model.currentPage}}</a></li>
	  <li ng-class="hasNext() ? '' : 'disabled'"><a href="#" ng-click="modifyPage(1)" tabindex="-1">&raquo;</a></li>
	</ul>
</div>
